:root {
    --color-green: green;
    --color-white: white;
    --color-dark-grey: rgb(60, 60, 60);
    --color-medium-grey: rgb(160, 158, 158);
    --color-light-grey: rgb(98, 126, 135);
  }
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
  }
  
  body {
    margin: 0;
    background: var(--color-medium-grey);
    color: var(--color-white);
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /* header */
  
  header {
    text-align: center;
  }
  
  header__title {
    font-size: 3rem;
    font-weight: 900;
    color: var(--color-light-grey);
    position: relative;
  }
  
  /* Counter */
  
  .counter {
    background: var(--color-dark-grey);
  }
  
  .counter_value {
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    background: none;
    color: var(--color-white);
    border-width: 0;
    border-bottom: 1px solid var(--color-light-grey);
  }
  
  .counter_actions {
    display: flex;
  }
  
  .subtract,
  .add,
  .reset {
    background: none;
    width: 50%;
    border-width: 0;
    color: var(--color-light-grey);
    font-size: rem;
    height: rem;
    border-bottom: 1px solid var(--color-light-grey);
    transition: transform 0.3s;
    transform: translateY(0);
  }
  
  .counter_button:active {
    background: var(--color-medium-grey);
    transform: translateY(-2%);
  }
  
  .subtract {
    border-right: 1px solid var(--color-light-grey);
  }
  
  .footer {
    background: var(--color-dark-grey);
    color: var(--color-light-grey);
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .footer_link {
    color: var(--color-white);
  }
  